{% extends 'base_back.html.twig' %}

{% block title %}Modification du bien {{ realEstateAd.title }} !{% endblock %}

{% block body %}
    <h1>Modification du bien {{ realEstateAd.title }} !</h1>

    {# form(form) #}

    {{ form_start(form) }}
        {# form_row(form.title) #}

        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_help(form.title) }}

        {{ form_rest(form) }}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}

    <br><br>
    <a href="{{ path('back_real_estate_ad_index') }}">Voir les biens</a>
{% endblock %}
