{% extends 'base.html.twig' %}

{% block title %}Liste des biens à vendre!{% endblock %}

{% block body %}
    <h1>Liste des biens à vendre</h1>

    <a href="{{ path('real_estate_ad_new') }}">Création d'un bien</a>
    <br>

    <table>
        <tr>
            <td>#</td>
            <td>Titre</td>
            <td>Description</td>
            <td>Prix</td>
            <td></td>
        </tr>

        {% for realEstateAd in realEstateAds %}
            <tr>
                <td>{{ realEstateAd.id }}</td>
                <td>{{ realEstateAd.title }}</td>
                <td>{{ realEstateAd.description|slice(1, 50) }}</td>
                <td>{{ realEstateAd.price }}</td>
                <td>
                    <a href="{{ path('real_estate_ad_show', {'slug': realEstateAd.slug}) }}">Voir</a>
                    <a href="{{ path('real_estate_ad_edit', {'id': realEstateAd.id}) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
